// general styles for the project that wouldn't be a reuseable component



/* ==========================================================================
   Parallax
   ========================================================================== */

.bv-parallax{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}


@media only screen and (max-width: 1024px) {

.bv-remove-bg{
  background-image: none!important;

  &--black{
    background-image: none!important;
    background-color: #000;
    }
}

.bv-parallax{
      background-attachment: scroll;
      background-size: cover;

      }

}


.bv-iframe-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%; // 16:9 ratio
  background-color:#000;
}

.bv-iframe-ratio iframe {  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}

/* ==========================================================================
   Badge
   ========================================================================== */
.bv-badge {
  position: absolute;
  width: 124px;
  height: 124px;
  top: 5.5vh;
  right: 3vh;
  padding: 16px 0 5px 0;
  text-align: center;
  border-radius: 100px;
  background-color: rgba($white, 1);
  transform: rotate(10deg);
  z-index: 10;
  color: $bv-green;
  letter-spacing:-1px;
  line-height: 0.75em;
  font-size: 1.55rem;
   border: thick double $bv-green;
  //text-shadow: 0 0 10px rgba($bv-darkblue, 0.4);

  @include bp($lg){
  width: 128px;
  height: 128px;
    top: 5vh;
    padding: 25px 0px 0;
    line-height: 0.7em;
    font-size: 1.6rem;
    right: 15vh;
    width: 150px;
    height: 150px;
    }
  }
/* ==========================================================================
   Dividers & Alignment
   ========================================================================== */

   .bv-divider::after{
     content: '-------';
     display: block;
     font-weight: 300;
     font-size: 3vh;
     letter-spacing: -2px;
     margin-top: 2px;
     margin-bottom: 2px;
}

.core-title {

  // open-sans – core site typeface
  font-family: $font-core;
  font-weight: 300;
  letter-spacing: -.02em;

  &--xxxl   { font-size: $s8; line-height: 1.1; }
  &--xxl    { font-size: $s7; line-height: 1.1; }
  &--xl     { font-size: $s6; line-height: 1.2; }
  &--lg     { font-size: $s5; line-height: 1.25; }
  &--md     { font-size: $s4; line-height: 1.35; }
  &--sm     { font-size: $s3; line-height: 1.35; }
  &--xs     { font-size: $s2; line-height: 1.35; }
  &--xxs    { font-size: $s1; line-height: 1.4; }
  &--xxxs   { font-size: $s0; line-height: 1.45; }
  @include bp($lg){
    &--xxxl   { font-size: $s9; line-height: 1.1; }
    &--xxl    { font-size: $s8; line-height: 1.175; }
    &--xl     { font-size: $s7; line-height: 1.2; }
    &--lg     { font-size: $s6; line-height: 1.2; }
    &--md     { font-size: $s5; line-height: 1.3; }
    &--sm     { font-size: $s4; line-height: 1.3; }
    &--xs     { font-size: $s3; line-height: 1.3; }
    &--xxs    { font-size: $s2; line-height: 1.35; }
    &--xxxs   { font-size: $s1; line-height: 1.4; }
  }

}

/* ==========================================================================
   Modal Thumbnails
   ========================================================================== */

.bv-modal-thumbn{
  background-size: 145%;
  transition-duration: 0.2s;
}

.bv-modal-thumbn:hover{
  background-size: 155%;
}


/* ==========================================================================
   testimonial page banner
   ========================================================================== */

// special page banner to ensure image text stays visible at smaller viewports

.testimonial-banner-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: $site-nav-height-sm;
  z-index: $z-content-upper;
  background-image: url('../img/pages/testimonials/hero-content.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  @include bp($md){
    bottom: $site-nav-height;
  }
}

// special image ratio for the individual testimonial images
.img--testimonial:before { padding-top: 80%; }