<!--
creates modals for all of the sections that appear on the single page
creates a series modal so user can nav between each poi in the current section
will also load in normal modals that appear in /data/modals.yml
-->

<div class="js-modal modal__bg is-closed">
  <div class="modal__wrap">


    {% for section in site.data.sections %}

    <div class="modal modal--standard is-closed" data-modal-id="{{section.id}}" >
      <div class="js-close-modal modal__close"></div>
      {% if section.gallery | where: 'gallery', 'true' %}
      <!--    <div class="js-modal-nav modal__nav modal__nav--next" data-nav-direction="next"></div>
      <div class="js-modal-nav modal__nav modal__nav--previous" data-nav-direction="previous"></div>-->
      <div class="">  <video style="width:100%;" id="video-{{section.id}}"  poster=""  controls >
        <source src="{{site.img}}/pages/testimonials/video-{{section.id}}.mp4" type="video/mp4"></video>
        </div>

        {% else if page.intro-video %}
        <!--    <div class="js-modal-nav modal__nav modal__nav--next" data-nav-direction="next"></div>
        <div class="js-modal-nav modal__nav modal__nav--previous" data-nav-direction="previous"></div>-->

        <div class="">  <video style="width:100%;" id="video-intro"  poster=""  controls >
          <source src="http://www.channelrent.tv/download/touristiknews-costarica-news1410-neu.mp4" type="video/mp4"></video>
          </div>
          {% endif %}
        </div>

        {% endfor %}


      </div>
    </div>
